

@media screen and (min-width:720px) {


.top {
    display: none;
}
}



@media screen and (max-width:1441px) {



}

@media screen and (max-width:1320px) {

.c-flex__itemm {
    width: 27%;

}
.sponsor-list {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

}

@media screen and (max-width:1020px) {

.c-flex__itemm {
    width: 43%;

}

}


@media screen and (max-width:861px) {

.c-flex__itemm {
    width: 42%;

}
.zw_z {
    float: right;
    padding-right: 16px;
}

}



@media screen and (min-width: 721px){
.c-footer {
    display: none;
}
}
@media screen and (max-width:720px) {

.pavilion-container .pavilion-inner .tabs {
    padding: 0 0px!important;
        width: 315px;
    margin: auto;
    margin-left: auto !important;

}
.c-flex__itemm {
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 94% !important;
    padding: 11px !important;
    min-height: 145px !important;
}

.c-tool-logo {
width: 100% !important;
    float: left !important;
}
.c-tool-titles {
width: 100% !important;
    float: right !important;
}
.c-tool-title {
font-size: 14px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

#ban {
    display: none;
}

.menu {
   display: block !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #474747;
    padding-top: 8px;
    border-top: 1px solid #dedcdc;
    background-color: #f2f2f2;
    z-index: 999;
    font-size: 11px;
        opacity: inherit;
        display: block;
}
.text-center {
    text-align: center;
}
.subMenu {
    width: 25%;
    float: left;
    cursor: pointer;
}
#icontext {
    color: #000000 !important;
}
.menu_img {
    height: 23px;
    text-align: center;
        margin-bottom: 0px;
}

.menu_name {
    height: 30px;
    width: 100%;
    line-height: 30px;
}

.zhezhao {
display: none;
}

.c-flex {

    width: 90%;
    margin: auto;
}
#width{

    width: 100%;
    margin: auto;

}
.zw_y {
    float: left;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 45px;
    width: 100%;
}

.c-header {
       opacity: inherit;
        display: block;
    color: #000000 !important;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
        margin-top: 40px;
    margin-bottom: 30px;
}

.top {
    width: 100%;
    position: fixed;
    z-index: 1000;
        background-color: #f7fafe;
}
.wrapper-dropdown-5 {
    width: 44px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 44px;
    position: absolute;
}
.wrapper-dropdown-5 .dropdown {
    position: fixed;
    left: 0;
    right: 0;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-color: #C1C1C1;
    height: 100%;
}
.index_nav3 {
    height: 70%;
    width: 242px;
    text-decoration: none;
    display: block;
    background-image: url(../img/white.png) !important;
    background-size: 242px 307px;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: left;
    margin: auto;
}
.logo {
    height: 44px;
    width: 44px;
    margin-right: auto;
    margin-left: auto;
}
#pencil {
    height: 44px;
    width: 44px;
    float: right;
    margin-top: -44px;
    margin-right: 3px;
}
.wrapper-dropdown-5.active .dropdown {
    margin-top: -4px;
}
.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-height: 100%;
}
.c-footer {
        margin-bottom: 116px;
    margin-top: 19px;
}
.c-flex__itemm.is--invisionstudio {

    margin-bottom: 20px !important;
    min-height: 72px !important;
}
.pavilion-container .tab-content.show {
    padding-left: 12px;
    width: 90%;
    margin: auto;
    padding-right: 12px;
    margin-bottom: 90px  !important;
    position: unset !important;
}
.sponsor-list {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
.sponsor-item {
    display: inline-block;
    width: 80%;
}
.sponsor-bottom, .sponsor-btn {
    display: block;
    line-height: 20px;
    font-size: 16px;
    color: #ec1e1e;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}
.sponsor-title {
    display: block;
    margin: 0px 0 8px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: #000;
    text-align: center;
}
#pingluns{
    margin-bottom: 30%;
}
}




::-webkit-scrollbar {
    width:10px;
    height:5px
}
::-webkit-scrollbar-button:vertical {
    display:none
}
::-webkit-scrollbar-track:vertical {
    background-color:black
}
::-webkit-scrollbar-track-piece {
    background:#EAEAEA
}
::-webkit-scrollbar-thumb:vertical {
    background-color:#afafaf;
    border-radius:4px
}
::-webkit-scrollbar-thumb:vertical:hover {
    background-color:#afafaf
}
::-webkit-scrollbar-corner:vertical {
    background-color:#afafaf
}
::-webkit-scrollbar-resizer:vertical {
    background-color:#FF6E00
}
