@charset "utf-8";


:after, :before {
	box-sizing: inherit
}
a {
	text-decoration: none;
	color: inherit
}
ul {
	list-style: none
}
.overflow-hide {
	overflow: hidden
}
.col-sm-3 {
	width: 25%;
	float: left;
	position: relative
}

.layer-title {
	padding: 50px 0 30px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	letter-spacing: 1.09px
}
/*tab分类*/

.pavilion-container .pavilion-inner .tabs {
	margin-left: 2%;
}
.pavilion-container .pavilion-inner .tabs dd {
    float: left;
    padding: 0 14px;
    border: 1px solid #0edcbc;
    border-radius: 8px;
    line-height: 36px;
    font-size: 14px;
    color: #0edcbc;
    letter-spacing: .35px;
}

.pavilion-container .pavilion-inner .tabs dd:hover {
      color: #ffffff !important;
    background-color: #0edcbc !important;
}

#text{
	      color: #ffffff;
    background-color: #0edcbc !important;
}
.pavilion-container .pavilion-inner .tabs dd {
	margin-left: 21.2667px;
	cursor: pointer
}
.pavilion-container .pavilion-inner .tabs dd:first-child {
	margin-left: 0
}
.pavilion-container .pavilion-inner .tabs dd.on {
	background: #0edcbc;
	color: #1c1f36
}
.pavilion-container .pavilion-inner .tabs dd .hot-icon {
	width: 18px;
	height: 24px;
	margin-right: 10px;
	background-repeat: no-repeat
}
.pavilion-container .pavilion-inner .tabs dd.on .hot-icon {
}
.pavilion-container .pavilion-inner .tabs dd>span {
	display: inline-block;
	vertical-align: middle
}
/*tab内容*/
.pavilion-container .tab-content-wrap {
	position: relative;
	margin-top: 20px;
	height: 420px
}
.pavilion-container .tab-content {
	position: absolute;
	transition: all .7s linear;
	opacity: 0;
	z-index: -1;
	height: 0;
	width: 100%
}
.pavilion-container .tab-content.show {
	height: auto;
	opacity: 1;
	top: 0;
	z-index: 1
}
