<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>zharry_people_online</id>
<name>在线人数</name>
<url>http://www.zharry.top/</url>
<note>统计在线用户人数。</note>
<description>统计在线用户人数。</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>zharry</name>
  <email>1955326421@qq.com</email>
  <url>http://www.zharry.top/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>172985</adapted>
<version>1.0</version>
<pubdate>2021-11-13</pubdate>
<modified>2021-11-21</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>