<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>NA_xuanku</id>
<name>NA_全站、文章页炫酷特效插件</name>
<url>https://app.zblogcn.com/?auth=cffeb72f-ccc7-4cba-be5b-d797bce60bbe</url>
<note>NA_全站、文章页炫酷特效插件</note>
<description>NA_全站、文章页炫酷特效插件</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>NewAPP</name>
  <email></email>
  <url>https://app.zblogcn.com/?auth=cffeb72f-ccc7-4cba-be5b-d797bce60bbe</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>173050</adapted>
<version>1.0</version>
<pubdate>2022-06-29</pubdate>
<modified>2022-07-01</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>