<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>xc_mouse</id>
<name>鼠标点击特效插件</name>
<url>https://www.316la.com</url>
<note>鼠标点击特效</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>夏蝉</name>
  <email>null@null.com</email>
  <url></url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>173050</adapted>
<version>1.0</version>
<pubdate>2022-05-27</pubdate>
<modified>2022-05-27</modified>
<price>0</price>
<phpver>5.6</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>